@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');


/*background image*/
.game {
  background: url("https://img.freepik.com/free-vector/space-background-with-planet-landscape_107791-6146.jpg") center center / cover no-repeat fixed;
  width: 100vw;
  overflow: hidden;
  height: 100vh;

}

.game:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

}
.hidden {
  display: none !important;
}

.invisble {
  visibility: hidden;
}


/*game text*/
.game-heading {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 3rem;
  color: #000;
  margin: 0;
  list-style: none;
  font-family: "Teko";
  letter-spacing: 8px;
}

/*game box*/
#game-container {
  display: inline-block;
  padding: 2%;
  border-radius: 50px;
  width: 50%;
  background: #daf0f8;
  overflow: hidden;
  margin-top: 1%;
  opacity: 95%;
  margin-left: 23%;
  margin-bottom: 25px;

}



/*main buttons section*/
.button-container {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 200px 200px;
  grid-gap: 30px;
  position: center;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 15%;
  margin-right: 15%;
}

.no-click {
  pointer-events: none;
}

/*red button*/
.button-red {
  border-radius: 50%;
  background-color: #d00639;
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 8px 0 0 #760421, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  transition: 0.20s;
}

.button-red:hover,
.button-red:focus {
  background-color: #f50a45;
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 10px 0 0 #760421, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
}

.button-red:active,
.button-red.activated {
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  background-color: #760421;
  transform: translateY(20px);
}


/*blue button*/
.button-blue {
  border-radius: 50%;
  background-color: #497bee;
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 8px 0 0 #1205c2, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  transition: 0.20s;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #89aaec;
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 10px 0 0 #1205c2, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6)
}

.button-blue:active,
.button-blue.activated {
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  background-color: #1205c2;
  transform: translateY(20px);
}

/*green button*/
.button-green {
  border-radius: 50%;
  background-color: #1c924f;
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 8px 0 0 #014105, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  transition: 0.20s;
}

.button-green:hover,
.button-green:focus {
  background-color: #9ff4a9;
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 8px 0 0 #014105, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.button-green:active,
.button-green.activated {
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  background-color: #014105;
  transform: translateY(20px);
}


/*yellow button*/
.button-yellow {
  border-radius: 50%;
  background-color: #f5d63d;
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 8px 0 0 #8a800a, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  transition: 0.20s;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #f7ee8d;
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 10px 0 0 #8a800a, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
}

.button-yellow:active,
.button-yellow.activated {
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  background-color: #8a800a;
  transform: translateY(20px);
}



/*submit button & game progress section*/
.game-info {
  text-align: center;
  font-family: "Teko";
  font-size: 2rem;
}

.start-button {
  display: inline-block;
  height: 38px;
  padding: 0 10px;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #000;
  cursor: pointer;
  font-family: "Teko";
}

.start-button:hover {
  color: #000;
  border-color: rgb(143, 182, 233);

}



/*media*/
@media screen and (max-width: 550px) {



  .game-heading {
    font-size: 2rem;
  }

  .button-container {
    width: 50%;
    height: 50%;
    grid-template-rows: 50px 50px;
    grid-template-columns: 50px 50px;
    margin-top: 10%;


  }

  #game-container {
    width: 80%;
    height: 40%;
    text-align: center;
    padding-top: 20%;
  }

  .start-button {
    font-size: 1rem;
  }
}