@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*welcome/index.html page*/
.welcomebg {
  background: url('https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_1280.png') center center / cover no-repeat fixed;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
}
.game-heading1 {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  color: #fff;
  margin-top: 10%;
  list-style: none;
  font-family: 'Press Start 2P';
  letter-spacing: 8px;
 
}
.game-info1 {
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 2rem;
  padding-top: 2%;
  padding-bottom: 1%;
}



/*game.html*/
/*background image*/
.game {
  background: url('https://img.freepik.com/free-vector/space-background-with-planet-landscape_107791-6146.jpg') center center / cover no-repeat fixed;
  width: 100vw;
  overflow: hidden;
  height: 100vh;

}

.game:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

}
.hidden {
  display: none !important;
}

.invisble {
  visibility: hidden;
}


/*game text*/
.game-heading {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  color: #000;
  margin: 0;
  list-style: none;
  font-family: 'Press Start 2P';
  letter-spacing: 8px;
 
}

/*game box*/
#game-container {
  display: inline-block;
  padding-top: 3%;
  border-radius: 50px;
  width: 50%;
  background: #537081;
  overflow: hidden;
  margin-top: 1%;
  opacity: 95%;
  margin-left: 22%;
  padding-bottom: 1%;
  
}



/*main buttons section*/
.button-container {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 200px 200px;
  grid-gap: 35px;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 17%;
  margin-right: 10%;
}

.no-click {
  pointer-events: none;
}

/*purple button*/
.button-purple {
  border-radius: 50%;
  background-color: #d111df;
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 8px 0 0 #5c036d, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  transition: 0.20s;
}

.button-purple:hover,
.button-purple:focus {
  background-color: #efc0f2;
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 10px 0 0 #5c036d, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
}

.button-purple:active,
.button-purple.activated {
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  background-color: #5c036d;
  transform: translateY(20px);
}


/*green button*/
.button-green {
  border-radius: 50%;
  background-color: #35df5f;
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 8px 0 0 #1b8019, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  transition: 0.20s;
}

.button-green:hover,
.button-green:focus {
  background-color: #b4eec0;
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 10px 0 0 #1b8019, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6)
}

.button-green:active,
.button-green.activated {
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  background-color: #1b8019;
  transform: translateY(20px);
}

/*blue button*/
.button-blue {
  border-radius: 50%;
  background-color: #5f5de5;
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 8px 0 0 #020c5a, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  transition: 0.20s;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #a8def5;
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 8px 0 0 #020c5a, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.button-blue:active,
.button-blue.activated {
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  background-color: #020c5a;
  transform: translateY(20px);
}


/*orange button*/
.button-orange {
  border-radius: 50%;
  background-color: #dd6b1f;
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 8px 0 0 #6c1e04, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  transition: 0.20s;
}

.button-orange:hover,
.button-orange:focus {
  background-color: #f7d19c;
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 10px 0 0 #a32d05, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
}

.button-orange:active,
.button-orange.activated {
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  background-color: #a32d05;
  transform: translateY(20px);
}




/*submit button & game progress section*/
.game-info {
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 1rem;
  padding-top: 2%;
  padding-bottom: 1%;
}

.start-button {
  display: inline-block;
  height: 38px;
  padding: 0 10px;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #000;
  cursor: pointer;
  font-family: 'Press Start 2P';
}

.start-button:hover {
  color: #fafafa;
  border-color: #fafafa;

}

/*for tablet*/

@media only screen and (max-width: 820px) {
  .game {
    width: 100vw;
    height: 100vh;
    
  }

  .game-heading {
    font-size: 2rem;
  }

  .button-container {
    width: 90%;
    height: 70%;
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px;
    padding-bottom: 3%;
    grid-gap: 30px;
    
    
    }
  #game-container {
    width: 85%;
    margin-top: 28%;
    margin-left: 8%;
    padding-bottom: 5%;
    padding-left: 1%;
    padding-top: 5%;
  }
  .start-button {
    font-size: 1rem;
  }
}
/*for mobile*/
@media only screen and (max-width: 450px) {
  
  .game {
    width: 100vw;
    height: 100vh;
    
  }
  .button-container {
    width: 100%;
    height: 100%;
    grid-template-rows: 100px 100px;
    grid-template-columns: 100px 100px;
    padding-bottom: 5%;
    margin-left: 15%;
  }
  #game-container {
    width: 95%;
    margin-top: 40%;
    margin-left: 2%;
    padding-bottom: 5%;
    padding-left: 2%;
  }
  .game-heading {
    font-size: 1rem;
    padding-top: 3%;
}
.start-button {
  font-size: 0.7rem;
}
.game-info {
  font-size: 1rem;
  padding-bottom: 1%;
} 
}
/* for laptop*/
@media screen and (min-width: 1024px) and (max-height: 1310px) {
  .button-container {
    width: 100%;
    height: 100%;
    display: grid;
    padding-left: 10%;
    padding-right: 8%;
    padding-bottom: 5%;
    padding-top: 5%;
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px;
    grid-gap: 55px;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 12%;
    margin-right: 10%;
    }
    #game-container {
      width: 50%;
      margin-top: 3%;
      margin-left: 20%;
      padding-bottom: 5%;
      padding-left: 2%;
   
    }
 
}



